.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    box-shadow: 0.3px 0.5px 3px rgb(44, 27, 57);
    position: relative;
    border-bottom: 2px solid #751d87;
    /* background-color: red; */
}


/* for openMenu and closeMenu */

.openMenu{
    display: none;
    position: absolute;
    z-index: 10;
    font-size: 30px;
    top: 10px;
    right: 10px;
    color: rgb(47, 46, 46);
}
.closeMenu{
    display: none;
    position: absolute;
    z-index: 10;
    font-size: 30px;
    top: 10px;
    right: 10px;
    color: rgb(47, 46, 46);
}


.logo{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto";
    height: 100%;
    padding-left: 100px;
    cursor: pointer;
    position: relative;
    color: #ff4800;
    /* background-color: gray; */
}

.logo > .logo_img{
    width: 50px;
    position: relative;
}
.navbars{
    display: flex;
    justify-content: center;
    width: 45%;
    height: 100%;
    /* background-color: cadetblue; */
}

.navbars > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbars > ul > li {
    margin: auto 20px;
    list-style: none;
    font-size: 18px;
    font-family: "Roboto","Droid Sans","Chilanka";
    cursor: pointer;
}

.navbars > ul > li:hover {
    color: #ff4800;
}

.user_info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    text-align: center;
    /* background-color: gray; */
}

.user_info > .cart{
    font-size: 2.3vmax;
    color: #ff4800;
    cursor: pointer;
    position: relative;
}
.user_info > .cart:hover{
    color: #ff4800;
}

.user_info > .user_image > .user_profile{
    width: 40px;
    margin: 0 1vmax;
    cursor: pointer;
    border-radius: 50%;
}

.logout_icon{
    font-size: 2.1vmax;
    color:  #ff4800;
    cursor: pointer;
}



.user_info > .login, .signup, .logout{
    height: 40px;
    width: 70px;
    margin: 0px 10px;
    border-radius: 7px;
    font-size: 16px;
    background-color:  #ff4800;
    border: none;
    color: white;
    cursor: pointer;
}



/* ----------------------------------- Media Query --------------------------------- */
@media only screen and (max-width: 600px) {

    /* for openMenu and closeMenu */
    .logoAndMenu > .logoImgDevice{
        display: block;
        /* z-index: -5; */
        position: fixed;
    }

    .logoAndMenu > .hidelogo{
        height: 50px;
        display: none;
        position: fixed;
        z-index: -10;
        top: 10px;
        left: 10px;
    }
    .logoAndMenu > .showlogo{
        height: 50px;
        display: none;
        position: fixed;
        z-index: -10;
        top: 10px;
        left: 10px;
    }

    .logoImgDevice{
        width: 60px;
    }

    .openMenu{
        display: block;
        position: fixed;
        
    }
    .closeMenu{
        display: block;
        position: fixed;
    }

    .header{
        height: 80vh;
        width: 100vw;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(33, 23, 39, 0.897);
        border: none;
        z-index: 10;
        position: fixed;
    }


    .logo{
        height: 20%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        /* background-color: gray; */
    }
    .logo >.brandName{
        display: none;
    }
    .logo > .logo_img{
        width: 80px;
        margin-left: -90px;
    }


    .navbars{
        height: 50%;
        width: 100%;
        flex-direction: column;
        /* background-color: green; */
    }
    
    .navbars > ul{
        flex-direction: column;
        border-top: 1px solid white;
    }
    .navbars > ul > li{
        margin: 20px 0px;
    }

    .user_info{
        height: 15%;
        /* background-color: red; */
        border-top: 1px solid white;
        width: 100%;
    }

    .hide{
        margin-top: -100vh;
        transition: all 0.5s ease-in-out;
    }
    .show{
        margin-top: 0;
        transition: all 0.5s ease-in-out;
    }
}