
.auth_container{
    height: 91.7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_container > .left_auth_div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(142, 142, 22); */
}

.left_auth_div > .jethalalLoginImage{
    width: 45%;
}

.auth_container > .right_auth_div{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(136, 34, 34); */
}


.login_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vmax;
    flex-direction: column;
    background-color: rgba(17, 3, 27, 0.461);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    min-height: 90%;
    width: 70%;
}


.login_signup{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /* background-color: gold; */
}

.login_div > h1{
    align-self: flex-start;
    margin: 1vmax 0;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
}

.login_signup > input{
    text-align: start;
    border: 2px solid rgb(154, 153, 153);
}

.login_signup > .profilePicture{
    padding: 0.5vmax;
}


.login_signup > input, .auth_button{
    width: 80%;
    padding: 0 1vmax;
    margin: 0.8vmax 0;
    height: 2.8vmax;
    align-self: flex-start;
    border-radius: 5px;
    font-size: 1vmax;
}

.login_signup >  .auth_button{
    background-color: #ff4800;
    color: white;
    border: 2px solid white;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.login_signup >  .auth_button:hover{
    background-color: #e75d27;
    color: black;
}

.login_div > .dont_account{
    align-self: flex-start;
    font-size: 1.5vmax;
    margin: 1vmax 0;
    color: rgb(41, 41, 41);
}

.login_div > .dont_account > p > span{
    color: #ff4800;
    font-size: 1.5vmax;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}








@media only screen and (max-width: 600px) {
    .auth_container > .left_auth_div{
       display: none;
    }

    .auth_container > .right_auth_div{
        width: 100vw;
        height: 80vh;
        justify-content: center;
    }

    .auth_container > .right_auth_div>.login_div{
        min-width: 90%;
    }
    .auth_container > .right_auth_div>.login_div>.login_signup{
        min-width: 100%;
    }


    .login_signup > input, .auth_button{
        width: 90%;
        height: 6vmax;
        font-size: 1.8vmax;
        margin: 1.2vmax 0;
    }

    .login_div > .dont_account{
        font-size: 2vmax;
    }
    
    .login_div > .dont_account > p > span{
        font-size: 2.5vmax;
        text-underline-offset: 5px;
    }


}